@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@200&display=swap');
:root{
    --headings: #e85a4f;
    --text: #8e8d8a;
    --background:#eae7dc;
    --headings-font-family: 'Montserrat', sans-serif;
    --text-font-family: 'Lato', sans-serif;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: var(--background);
    text-align: center;
    font-family: var(--text-font-family);
    color: var(--text);
}

h1{
    font-family: var(--headings-font-family);
}

h2{
    color: var(--headings);
    font-family: var(--headings-font-family);
    font-size: 2.5rem;
    padding-bottom: 1rem;
}

p{
    line-height: 2;
}

hr{
    border: dotted var(--text) 16px;
    width: 4%;
    margin: 5rem auto;
    width: 10%;
}

.middle-container{
    margin: 5rem 0;
}